.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.titleWrapper {
  overflow: hidden;
}

.title {
  transform-origin: center;
  will-change: transform, opacity;
}
