@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  transition: color 500ms, background-color 500ms;
}

body {
  font-family: var(--font-aujournuit);
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
