.nightToggle {
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.nightToggle:hover {
  cursor: pointer;
}

.moon {
  background-color: black;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 8px;
  margin-top: 0px;
  transition: 0.5s 0.5s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    left: 1.3rem;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
  }
}

.sun {
  background-color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 8px;
  margin-top: 0px;
  transition: 0.5s ease-in-out;
}
